#previewpane {
	background-color: gray;
}

body {
	page-break-inside: avoid;
}
.slidePage {
	width:297mm;
	height:210mm;
	overflow: hidden;
	background: white;
	/* 改ページ設定 */
	page-break-after: always;
}